<header class="header">
 <div class="nav-menu">
  <ul class="list">
   <li>Welcome</li>
   <li>Portfolio</li>
   <li>About</li>
   <li>Contact</li>
  </ul>
  <div class="name">Ben DG
 </div>
</header>

<main class="main">
 <div class="main home">
 Hello my name is Ben and I have a cat named Krams.
 </div>
 <a class="btn" href="portfolio">View my Work</a>
</main>

<footer class="footer">
 <div class="links">
  <ul class="footer-links">
   <li> <a class="github" href="#">github</a></li>
   <li> <a class="LinkedIn" href="#">LinkedIn</a></li>
   <li> <a class="twitter" href="#">twitter</a></li>
  </ul>
  <p class="copyright"> copyright G6 Studio</p>
 </div>
</footer>